body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label{
    display: block;
    margin: 10px 0;
}

button{
    width: 100px;
    margin-top: 30px;
}

a{
    text-decoration: none;
}

footer{
    margin-top: 30px;
}

footer p{
    margin: 0;
}

.show{
    display: block;
}

.hide{
    display: none;
}